* {box-sizing: border-box; }

.row { width: 100%; }
#column-left { width: 33%; float: left; border: thin solid black;}
#content { width: 33%; float: left; border: thin solid black;}
#column-right { width: 33%; float: left;  border: thin solid black;}

body {
  background-color: #dadada;
  background-image: url("Baixades/pirata.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}


.column {
   float: left;
   width: 33.33%;
   padding: 10px;
   height: 300px;
   border: 1px solid black;
}


.row:after {
   content: "";
   display: table;
   clear: both;
}

.grey {  background-color: #; }
.column-light-grey { background-color: #; }
.column-dark-grey { background-color: #; }

}
@media (max-width: 600px) {
   .column {
width: 100%; }

}

h1 {color: red; text-align: center;}
h2 {color: green; text-align: center;}


}
#intro {
  color: red;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.default {
  color: green;
  border: 1px solid black;
  height: 50px;
}

#special-one {
  font-size: 22px;
  color: blue;
}

.big-font {
  font-size: 50px;
}

.text-center {
  text-align:center;
}


 .column {
     float: left;
     width: 33.33%;
     padding: 10px;
     height: 300px;
     border: 1px solid black;
 }


 .row:after {
     content: "";
     display: table;
     clear: both;
}

.row { text-align: center; }
.img-said { width: 50%; }

.column-light-grey { color: white; }

h5 {color:white; text-align: center;}



 @media (max-width: 600px) {
     .column {
   width: 100%;


 }

 .row { text-align: right;; }
 .img-moha { width: 50%; }

 .column-light-grey { color: white; }

 h5 {color:white; text-align:right;;}



  @media (max-width: 600px) {
      .column {
      width: 100%;












  }
}
